/*General*/
:root {
  --theme: #FF8A00;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
}

.container {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("./images/iStock-1177184973.jpg");
}

ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
}

li {
  margin: 1.8em;
  align-self: center;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s;

}

a:hover {
  opacity: 0.75;
  font-size: 1.02em;
}
/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 2.3em;
  padding: 25px;
}
/*MenuNavigation*/
.menuBarIcon {
  display: none;
  cursor: pointer;
}
/*Footer*/
Footer {
  color: rgba(225, 225, 225);
  width: 100%;
  background-color: rgba(45, 45, 45);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33.333%;
  padding: 10vh 0;
  line-height: 1.4;
}

.iconStyle {
  font-size: 1.8em;
  padding-bottom: 2px;
}

@media (max-width: 1080px) {
/*General*/
  ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    z-index: 5;
    flex-direction: column;
    background-color: var(--theme);
  }

  li {
    margin: 0;
    padding: 1em 20px;
    text-align: left;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 280px;
  }

  .menuActive {
    transition: transform 0.5s;
    transform: translateX(0%);
  }

  .menuInactive {
    transition: transform 0s;
    transform: translateX(-100%);
  }
/*Header*/
  .title {
    text-align: center;
  }
  /*MenuNavigation*/
  .menuBarIcon {
    display: inline;
    float: right;
    padding: 10px;
    margin: 25px;
    font-size: 1.5em;
  }
/*
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    z-index: 5;
    background-color: var(--theme);
  }
*/
  .menuMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.4);
  }
/*Footer*/
  .infoContainer {
    flex-basis: 100%;
    padding: 5vh 0;
  }

}
